{{ block title }}
{{ endblock }}
{{ block content }}
<script src="{{ static 'rounds/js/biotrigger.js' }}"></script>
<script src="{{ static 'rounds/js/fixate.js' }}"></script>
<link rel="stylesheet" href="{{ static 'rounds/css/fixate.css' }}">

<div class="layout-box"><span class="inner">+</span></div>

<script>
    // Define readPage() function
    function readPage() {
        const fixatePageData = {
            source: "fixate_page"
        }
        return fixatePageData;
    }
</script>
{{ endblock }}