{% block title %}
Welcome to the Market Experiment.
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ static 'consent/css/consent_common.css' }}">
    <link rel="stylesheet" href="{{ static 'css/global.css' }}">
    <script>
        $(document).on('click', ".btn-look-alike", function(){
            document.getElementById('button_clicked').value = 'True';
        });
    </script>

    <div class="layout-box">
    <div class="top-row">
        <!-- <div class="centered"> Please read the information sheet on the desk in front of you.</div> -->
    </div>

    <div class="main-block">
        <p>Please click "Next" to continue.</p>
    </div>

    <input type="hidden" name="button_clicked" id="button_clicked" value="False"/>

    <div class="bottom-row">
        <div class="centered">
            <p>Do you wish to participate in the experiment?</p>
            <button name="consent_given" value="True" class="btn-look-alike">Next</button>
            <script>
                const consentPageData = {
                    source: "consent_page"
                }
                console.log(JSON.stringify(consentPageData, null, 2));

                // Define readPage() function
                function readPage() {
                    const consentPageData = {
                        source: "consent_page"
                    }
                    return consentPageData;
                }

                // Make a function to simulate a click on the "Next" button to give consent
                function giveConsent() {
                    document.querySelector('.btn-look-alike').click();
                }
            </script>
        </div>
    </div>
    </div>
{% endblock %}


